footer{
    padding-top: 5em;
    padding-bottom: 10em;
}

select{
    margin: 0;
    border-color: transparent;
    width: 90%;
}

h4{
    margin: .5em 0;
}
p{
    margin: .5em 0;
}

#show_ssh_key, #hide_ssh_key{
    color: #009688;
}

#btn-create_service{
    margin-top: 4em;
}

#ssh_key_content_value{
    margin-bottom: 1em;
}

.bullet-item .button{
    margin: 0;
}

.active li img{
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
}

.puppet{
    background: url(../img/automation_icons.png) -300px 0;
}

.ansible{
    background: url(../img/automation_icons.png) -0px 0;
}

.chef{
    background: url(../img/automation_icons.png) -150px 0;
}

.puppet, .ansible, .chef{
    filter: blur(1px) grayscale(90%);
    -webkit-filter: blur(1px) grayscale(90%);
    -moz-filter: blur(1px) grayscale(90%);
    -o-filter: blur(1px) grayscale(90%);
    -ms-filter: blur(1px) grayscale(90%);
    width: 150px;
    height: 150px;
    border: 0;
}

.pricing-table:hover .price .puppet, .pricing-table:hover .price .ansible, .pricing-table:hover .price .chef{
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
}

.freeBSDAMP{
    background: url(../img/aplications_icons.png) -530px 0;
}
.LAMP{
    background: url(../img/aplications_icons.png) -796px 0;
}
.LEMP{
    background: url(../img/aplications_icons.png) -862px 0;
}
.MEAN{
    background: url(../img/aplications_icons.png) -994px 0;
}
.Joomla{
    background: url(../img/aplications_icons.png) -728px 0;
}
.Drone{
    background: url(../img/aplications_icons.png) -332px 0;
}
.Ghost{
    background: url(../img/aplications_icons.png) -596px 0;
}
.Rails{
    background: url(../img/aplications_icons.png) -1522px 0;
}
.Drupal{
    background: url(../img/aplications_icons.png) -398px 0;
}
.MongoDB{
    background: url(../img/aplications_icons.png) -1126px 0;
}
.Node{
    background: url(../img/aplications_icons.png) -1258px 0;
}
.Cassandra{
    background: url(../img/aplications_icons.png) 0 0;
}
.Stack{
    background: url(../img/aplications_icons.png) -464px 0;
}
.Django{
    background: url(../img/aplications_icons.png) -134px 0;
}
.Docker{
    background: url(../img/aplications_icons.png) -200px 0;
}
.Magento{
    background: url(../img/aplications_icons.png) -928px 0;
}
.GitLab{
    background: url(../img/aplications_icons.png) -662px 0;
}
.MumbleServer{
    background: url(../img/aplications_icons.png) -1192px 0;
}
.MediaWiki{
    background: url(../img/aplications_icons.png) -1060px 0;
}
.WordPress{
    background: url(../img/aplications_icons.png) -1588px 0;
}
.OwnCloud{
    background: url(../img/aplications_icons.png) -1324px 0;
}
.Dokku{
    background: url(../img/aplications_icons.png) -266px 0;
}
.PHPMyAdmin{
    background: url(../img/aplications_icons.png) -1390px 0;
}
.Redmine{
    background: url(../img/aplications_icons.png) -1456px 0;
}
.application_none{
    background: url(../img/aplications_icons.png) -1655px 0;
}

.freeBSDAMP, .LAMP, .LEMP, .MEAN, .Joomla, .Drone, .Ghost, .Rails, .Drupal, .MongoDB, .Node, .Cassandra, .Stack, .Django, .Docker, .Magento, .GitLab, .MumbleServer, .MediaWiki, .WordPress, .OwnCloud, .Dokku, .PHPMyAdmin, .Redmine, .application_none{
    filter: blur(1px) grayscale(90%);
    -webkit-filter: blur(1px) grayscale(90%);
    -moz-filter: blur(1px) grayscale(90%);
    -o-filter: blur(1px) grayscale(90%);
    -ms-filter: blur(1px) grayscale(90%);
    width: 34px;
    height: 34px;
    border: 0;
    margin-right: 10px;
}

.pricing-table:hover .bullet-item .freeBSDAMP, .pricing-table:hover .bullet-item .LAMP, .pricing-table:hover .bullet-item .LEMP, .pricing-table:hover .bullet-item .MEAN, .pricing-table:hover .bullet-item .Joomla, .pricing-table:hover .bullet-item .Drone, .pricing-table:hover .bullet-item .Ghost, .pricing-table:hover .bullet-item .Rails, .pricing-table:hover .bullet-item .Drupal, .pricing-table:hover .bullet-item .MongoDB, .pricing-table:hover .bullet-item .Node, .pricing-table:hover .bullet-item .Cassandra, .pricing-table:hover .bullet-item .Stack, .pricing-table:hover .bullet-item .Django, .pricing-table:hover .bullet-item .Docker, .pricing-table:hover .bullet-item .Magento, .pricing-table:hover .bullet-item .GitLab, .pricing-table:hover .bullet-item .MumbleServer, .pricing-table:hover .bullet-item .MediaWiki, .pricing-table:hover .bullet-item .WordPress, .pricing-table:hover .bullet-item .OwnCloud, .pricing-table:hover .bullet-item .Dokku, .pricing-table:hover .bullet-item .PHPMyAdmin, .pricing-table:hover .bullet-item .Redmine, .pricing-table:hover .bullet-item .application_none{
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
}

.Sinatra{
    background: url(../img/package_icons.png) -344px -2px;
}
.Ruby{
    background: url(../img/package_icons.png) -306px -2px;
}
.Haskell{
    background: url(../img/package_icons.png) -192px -2px;
}
.Emacs{
    background: url(../img/package_icons.png) -116px -2px;
}
.VIM{
    background: url(../img/package_icons.png) -458px -2px;
}

.Sinatra, .Ruby, .Haskell, .Emacs, .VIM{
    filter: blur(1px) grayscale(90%);
    -webkit-filter: blur(1px) grayscale(90%);
    -moz-filter: blur(1px) grayscale(90%);
    -o-filter: blur(1px) grayscale(90%);
    -ms-filter: blur(1px) grayscale(90%);
    width: 34px;
    height: 34px;
    border: 0;
    margin-right: 10px;
}

.pricing-table:hover .bullet-item .Sinatra, .pricing-table:hover .bullet-item .Ruby, .pricing-table:hover .bullet-item .Haskell, .pricing-table:hover .bullet-item .Emacs, .pricing-table:hover .bullet-item .VIM{
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
}

.GitHub{
    background: url(../img/services_icons.png) -34px 0px;
}
.DigitalOcean{
    background: url(../img/services_icons.png) 0px 0px;
}
.Travis{
    background: url(../img/services_icons.png) -68px 0px;
}

.GitHub, .DigitalOcean, .Travis{
    filter: blur(1px) grayscale(90%);
    -webkit-filter: blur(1px) grayscale(90%);
    -moz-filter: blur(1px) grayscale(90%);
    -o-filter: blur(1px) grayscale(90%);
    -ms-filter: blur(1px) grayscale(90%);
    width: 34px;
    height: 34px;
    border: 0;
    margin-right: 10px;
}

.pricing-table:hover .bullet-item .GitHub, .pricing-table:hover .bullet-item .DigitalOcean, .pricing-table:hover .bullet-item .Travis{
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
}

.amazon_web_services{
    background: url(../img/serverprovider_icons.png) 0 0;
}
.digital_ocean{
    background: url(../img/serverprovider_icons.png) -220px 0;
}
.google_cloud{
    background: url(../img/serverprovider_icons.png) -110px 0;
}
.none{
    background: url(../img/serverprovider_icons.png) -330px 0;
}

.amazon_web_services, .digital_ocean, .google_cloud, .none{
    filter: blur(1px) grayscale(90%);
    filter: blur(1px) grayscale(90%);
    -webkit-filter: blur(1px) grayscale(90%);
    -moz-filter: blur(1px) grayscale(90%);
    -o-filter: blur(1px) grayscale(90%);
    -ms-filter: blur(1px) grayscale(90%);
    width: 110px;
    height: 110px;
    border: 0;
}

.pricing-table:hover .price .amazon_web_services, .pricing-table:hover .price .digital_ocean, .pricing-table:hover .price .google_cloud, .pricing-table:hover .price .none{
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
}

.Ubuntu{
    background: url(../img/distribution_icons.png) -555px 0;
}
.FreeBSD{
    background: url(../img/distribution_icons.png) -445px 0;
}
.Fedora{
    background: url(../img/distribution_icons.png) -335px 0;
}
.Debian{
    background: url(../img/distribution_icons.png) -225px 0;
}
.CoreOS{
    background: url(../img/distribution_icons.png) -115px 0;
}
.CentOS{
    background: url(../img/distribution_icons.png) -5px 0;
}

.Ubuntu, .FreeBSD, .Fedora, .Debian, .CoreOS, .CentOS{
    filter: blur(1px) grayscale(90%);
    -webkit-filter: blur(1px) grayscale(90%);
    -moz-filter: blur(1px) grayscale(90%);
    -o-filter: blur(1px) grayscale(90%);
    -ms-filter: blur(1px) grayscale(90%);
    width: 100px;
    height: 100px;
    border: 0;
}

.pricing-table:hover .price .Ubuntu, .pricing-table:hover .price .FreeBSD, .pricing-table:hover .price .Fedora, .pricing-table:hover .price .Debian, .pricing-table:hover .price .CoreOS, .pricing-table:hover .price .CentOS{
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
}

.pricing-table{
    cursor:pointer;
}

.sidebar{
    position: fixed;
    top: 6.55rem;
}

.pricing-table{
    border: solid 2px #DDDDDD;
}

.pricing-table[class~="active"]{
    border: solid 2px #009688;
}

.color-green{
    color: #009688;
}

ul{
    padding: 0;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="color"]:focus, textarea:focus{
    border-color: #009688;
}

.no-margin{
    margin: 0;
}

.pricing-table {
    margin-bottom: 0;
}

.pricing-table .price {
    background-color: #FFFFFF;
}

.pricing-table .bullet-item{
    padding: 0.9375rem 0;
}

.sub-nav dt, .sub-nav dd, .sub-nav li{
    margin-left: 0;
}

.sub-nav{
    padding-top: 1.25rem;
}

.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a{
    padding: 0.5875rem 0.7rem;
}

[data-magellan-expedition] .sub-nav a, [data-magellan-expedition-clone] .sub-nav a{
    line-height: 3.2em;
}

.switch {
    margin-bottom: .8em;
}

.switch-label{
    position: absolute;
    left: 24px;
    top: 8px;
    color: #4d4d4d;
    font-weight: bold;
    font-size: 1em;
    white-space: nowrap;
}

.switch-on {
    position: absolute;
    left: -64px;
    top: 13px;
    color: white;
    font-weight: bold;
    font-size: 9px;
}

.switch-off {
    position: absolute;
    left: -33px;
    top: 13px;
    color: white;
    font-weight: bold;
    font-size: 9px;
}

.reveal-modal{
    z-index: 9998;
}

.alert-box.success, .alert-box.warning{
    z-index: 9999;
}

.hide{
    display: none;
}

.alert-box{
    z-index: 9999;
}

@media only screen and (min-width: 64.063em) {
    .alert-box{
        position: fixed;
        width: 339px;
    }
}

@media only screen and (max-width: 40.063em) {
    .small-image{
        zoom:0.25;
        -moz-transform:scale(0.25);
        -moz-transform-origin: 0 0;
    }
}
